<footer class="my-10 text-neutral-300 flex justify-between">
  <div>© 2022 Dominik Kus</div>
  <ul class="flex flex-col list-none sm:flex-row">
    <li class="mb-1 sm:mr-7 sm:last:mr-0">
      <a href="legal.html#privacy" class="hover:underline">Privacy Policy</a>
    </li>
    <li class="mb-1 sm:mr-7 sm:last:mr-0">
      <a href="legal.html#terms" class="hover:underline">Terms of Use</a>
    </li>
    <li class="mb-1 sm:mr-7 sm:last:mr-0">
      <a href="legal.html#imprint" class="hover:underline">Imprint</a>
    </li>
  </ul>
</footer>
