<header class="pt-6 mb-10 font-semibold text-neutral">
  <nav class="flex flex-wrap gap-3 justify-between items-baseline">
    <a href="/" class="mr-7 hover:underline">📢 Floomer Soundboard</a>
    <ul class="flex-grow flex flex-row gap-7 list-none items-baseline justify-end">
      <li>
        <a href="https://github.com/dominikks/discord-soundboard-bot" target="_blank" rel="noopener" class="hover:underline">GitHub</a>
      </li>
      <li>
        <a
          href="https://bot.floomer.app"
          target="_blank"
          rel="noopener"
          class="block text-neutral-900 bg-amber-500 hover:bg-amber-600 focus:outline-none focus:ring-4 focus:ring-gray-500 rounded-lg text-sm px-5 py-2.5"
          >Open App</a
        >
      </li>
    </ul>
  </nav>
</header>
